body, html {
    height: 100%;
    
}


.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/unwind-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 84px;
}

 h2, h3,h5, body {
    font-family: 'Yusei Magic', sans-serif;
 }

.accordion-title, .accordion-text {
    color: green;
    
}
 .accordion-text {
     color: green;
 }

a {
    color: white;
}

.footer {
    color: white;
    text-align: center;
    background-image: url("./images/unwind-image.jpg");
}

header {
    margin: 20px;
}

label {
    color: green;
    opacity: 0.5;
}

.card-divider{    
    background-color: forestgreen;
    opacity: 0.75;
    color: white;
    text-align: center;
}


.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    text-align: center;

}

.card:hover {
    box-shadow: 0 30px 16px 0 rgba(0,0,0,0.2);

}

